.game-wrapper {
    height: 100vh;
}

.game-board {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 20px;
}

.restart-btn {
    text-align: center;
    margin-top: 25px;
}

.restart-btn button {
    font-size: 30px;
    padding: 6px 30px;
    border-radius: 3px;
    font-weight: 600;
    cursor: pointer;
}

.restart-btn button:hover {
    background: rgb(226, 223, 223);
}

.restart-btn:focus {
    outline: none;
}

.restart-btn button:active {
    box-shadow: 3px 4px 5px 4px #424242;
    transform: translateY(1px);
}