.game-wrapper {
    height: 100vh;
}

.game-board {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 20px;
}

.restart-btn {
    text-align: center;
    margin-top: 25px;
}

.restart-btn button {
    font-size: 30px;
    padding: 6px 30px;
    border-radius: 3px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    background-color: rgb(228, 174, 27);
    border: none;
}

.restart-btn button:hover {
    background: rgb(190, 141, 5);
}

.restart-btn:focus {
    outline: none;
}

.restart-btn button:active {
    box-shadow: 0px 4px 5px 4px #424242;
    transform: translateY(1px);
}

@media (max-width: 500px) {
    .restart-btn button {
        font-size: 26px;
        border-radius: 0;
        margin-top: 20px;
    }
}